.main-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: white;
}

.button-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: top;
  width: 35rem;
  padding: 1rem;

  gap: 1rem;
}

.category-button-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: top;
  padding: 1rem;
  gap: 1rem;
}

.middle-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 95vh;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .button-layout {
    justify-content: center;
    width: fit-content;
  }
  .category-button-layout {
    align-self: center;
  }
}
