table {
  width: 100%;

  border-collapse: collapse;
  margin-bottom: 2rem;
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 100vh;
  padding: 1rem;
  background-color: #f2f2f2;
}

th {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: white;
}

td {
  padding: 8px;
  border: 1px solid #ddd;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d333f;
  color: #35bcaa;
  min-width: 367px;
  min-height: 44px;
  border-radius: 0px, 0px, 4px, 4px;
  font-size: 25px;
  font-weight: bold;
}

.footer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cancel-button {
  background-color: white;
  color: red;
  padding: 10px;
  border: solid 2px red;
  cursor: pointer;
  border-radius: 5%;
  width: 7rem;
  margin: 10px;
}
