button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #277ed4;
  padding: 10px, 20px, 10px, 20px;
  font-size: 14px;
  min-width: 79px;
  min-height: 37px;
  color: white;
}
